a#arkpay-pay-button {
  border-color: rgba(182,182,206,.16);
  color: #000;
  background: #97ffec;
}

a#arkpay-pay-button:hover {
  background: #0cd0ad;
}

a#arkpay-pay-button.disabled {
  pointer-events: none;
  cursor: default;
}

a#arkpay-pay-button:focus {
  border: unset;
  outline: unset;
}
